<footer>
    <section className="footer-top-wrapper">
        <section className="footer-top">
            <img className="logo" src="logo_epi.png" title="Logo" alt="Logo"/>
            <span className="social-links">
                <a>
                    <img src="instagram.png" title="Instagram" alt="Instagram"/>
                </a>
                <a>
                    <img src="Facebook.svg.png" title="facebook" alt="facebook"/>
                </a>
                <a>
                    <img src="linkedin.png" title="Linkedin" alt="Linkedin"/>
                </a>
            </span>
        </section>
        <section>
            <menu>
                <h2>Solar Panel Monitoring</h2>
                <li>
                    <a>Escuela Politécnica de Ingeniería de Gijón</a>
                </li>
                <li>
                    <a>Industrial · Informática · Telecomunicación · Datos </a>
                </li>
                <li>
                    <a>Campus de Gijón, s/n - 33203</a>
                </li>
            </menu>
        </section>
        <section>
            <menu>
                <h2>Company</h2>
                <li>
                    <a>Blog</a>
                </li>
                <li>
                    <a>About us</a>
                </li>
                <li>
                    <a>Contact</a>
                </li>
            </menu>
        </section>
    </section>
    <section className="footer-bottom">
        © Pablo Fernández Pita. 2023
    </section>
</footer>