<div class="container">
    <h1 class="title">University Project: Solar Park Monitoring</h1>
    <div class="col-lg-5">
      <img src="assets/images/ParqueSolar.jpg" alt="Solar Park" class="image" width="600" height="450" style="border:0;">
    </div>
    
  
    <h2 class="subtitle">Project Overview</h2>
    <p class="text">
      The solar park monitoring project at our university aims to develop a comprehensive system to monitor and analyze the performance of a solar park.
      The project involves collecting real-time data from solar panels, weather sensors, and other relevant parameters to provide insights and optimize the park's efficiency.
    </p>

    <h2 class="subtitle">Location</h2>
    <p class="text">
      Address: Campus de Viesques - Edificios Departamentales Oeste, Módulo Nº 4 - 33203 - Gijón, España (Spain)
    </p>
    <div class="col-lg-5">
      <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d672.4009618418803!2d-5.629431730377967!3d43.52279099819427!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNDPCsDMxJzIyLjEiTiA1wrAzNyc0My42Ilc!5e1!3m2!1ses!2ses!4v1688463231363!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="col-lg-5">
      <img src="assets/images/parqueSolarArriba.jpg" alt="Solar Park" class="image" width="600" height="450" style="border:0;">
    </div>
    <h2 class="subtitle">Contact information</h2>
    <p class="text">
      Prof. Manuel Arsenio Barbon Alvarez
      <br>
      Email: barbon@uniovi.es
    </p>
    <p class="text">
      Prof. Luis Froilan Bayon Arnau
      <br>
      Email: bayon@uniovi.es
    </p>
    <h2 class="subtitle">Project Goals</h2>
    <ul class="list">
      <li>Monitor and analyze solar panel performance</li>
      <li>Track environmental factors impacting solar park efficiency</li>
      <li>Develop a user-friendly dashboard for data visualization</li>
      <li>Optimize solar park operations for maximum energy production using external mathematical tools</li>
    </ul>    
  
    <h2 class="subtitle">Project State</h2>
    <p class="text">
      Currently two trackers are installed but only the first one is being monitored thorough dataloggers and the inverter.
      Also a table with four two more panels is being monitored energy-wise together with the second string. Currently expanding also in Arganda del Rey with 
      a more strings on the park and more modules per string. Soon their measurements could get added to this website.
    </p>
  </div>
  