.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0.25%;
  width: 99%;
}

.column {
  width: 48%;
  margin: 1%;
  padding: 1%;
  border: 1px solid green;
}
#picker1{
  margin-right: 5%;
}
#picker2{
  margin-right: 5%;
}
  h2{
    width: 60%;
  }