<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/download">
        <img id="im" src="assets/images/logoverde.jpeg" 
        alt="logoverde" height="40" loading="lazy"/>
        <small id="nameapp" class="text-light">PV Web-monitoring</small>
      </a>
      <a class="nav-link text-light mr-4 mr-md-6" href="/download">Download</a>
      <a class="nav-link text-light mr-4 mr-md-6" aria-current="page" href="/stats">Stats</a>
      <a class="nav-link text-light mr-4 mr-md-6" href="/graphs">Graphs</a>
      <a class="nav-link text-light mr-4 mr-md-6" href="/documentation">Documentation</a>
      <a class="nav-link text-light mr-4 mr-md-6" href="/about">About the project</a>
    </div>
  </nav>
  