
<div class="charts">
  <div class="row">
    <h2 class="title">Select dates:</h2>
    <div class="date-pickers">
      <mat-form-field id="picker1">
        <mat-label>Starting Date</mat-label>
        <input matInput [matDatepicker]="startPicker" [max]="finishDate" [(ngModel)]="startDate">
        <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
        <mat-datepicker #startPicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Finishing Date</mat-label>
        <input matInput [matDatepicker]="finishPicker" [min]="startDate" [(ngModel)]="finishDate">
        <mat-datepicker-toggle matSuffix [for]="finishPicker"></mat-datepicker-toggle>
        <mat-datepicker #finishPicker></mat-datepicker>
      </mat-form-field>
    </div>
    <button class="btn btn-primary btn-lg" (click)="reDraw()">Re-plot</button>
  </div>
  <h2 class="title">Datalogger Graphs:</h2>
    <div class="datalog1" style="display: flex; flex-direction: column;
    justify-content: center; align-items: center;">
      <highcharts-chart *ngIf="chartOptionsData1Irrad"
      [Highcharts]="Highcharts"
      [options]="chartOptionsData1Irrad"
    
      style="width: 95%; height: 400px; display: block;"
    ></highcharts-chart>
    <highcharts-chart *ngIf="chartOptionsTemp"
    [Highcharts]="Highcharts"
    [options]="chartOptionsTemp"
  
    style="width: 95%; height: 400px; display: block;"
  ></highcharts-chart>
    </div>
    <div class="Datalogger2" style="display: flex; flex-direction: column;
    justify-content: center; align-items: center;">
      <highcharts-chart *ngIf="chartOptionsDatalogger2Irrad"
      [Highcharts]="Highcharts"
      [options]="chartOptionsDatalogger2Irrad"

      style="width: 95%; height: 400px; display: block;"
    ></highcharts-chart>
    <highcharts-chart *ngIf="chartOptionsTemp2"
      [Highcharts]="Highcharts"
      [options]="chartOptionsTemp2"
      style="height: 400px; width: 95%; display: block;"
    ></highcharts-chart>
    <highcharts-chart *ngIf="chartOptionsParticles"
      [Highcharts]="Highcharts"
      [options]="chartOptionsParticles"
      style="height: 400px; width: 95%; display: block;"
    ></highcharts-chart>
    <highcharts-chart *ngIf="chartOptionsInclinometro"
    [Highcharts]="Highcharts"
    [options]="chartOptionsInclinometro"
    style="height: 400px; width: 95%; display: block;"
  ></highcharts-chart>
    </div>

  <h2>Inverter Graphs:</h2>
  <div class="inverter" style="display: flex; flex-direction: column;
  justify-content: center; align-items: center;">
    <highcharts-chart *ngIf="chartInverter"
    [Highcharts]="Highcharts"
    [options]="chartInverter"
    style="width: 95%; height: 400px; display: block;"
  ></highcharts-chart>
  </div>

</div>




