.row-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2px;
  flex-direction: row;
}

.title {
  margin: 2%;
  flex-grow: 1;
  width: 60%;
  border: 2%;
  margin-left: 3%;
}

button {
  width: 20%;
  font-size: 1.2rem;
  background-color: #48a217;
  margin-right: 4%;
}

button:hover {
  background-color: #0ebc2e;
}

button.btn:hover {
  box-shadow: 0 4px 8px rgba(33, 30, 211, 0.1);
}

.sources {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #FE5D26; /* Set the desired background color */
  padding: 2%;
  margin: 2%;
  border-radius: 8px;
  border-width: 2%;
  border-color: black;
}

.mat-slide-toggle {
  margin: 5px;
}
.date-picker-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #FAEDCA;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: fit-content;
  margin-right: 20px; 
  height: fit-content;
  margin-left: 2%;
  margin-bottom: 7px;
}


.selector {
  flex-direction: row;
  position: relative; /* Position the pseudo-element relative to the .selector */
  background-color:#F2C078; /* Set the desired background color */
  padding: 1%;
  margin: 2%;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.selector:before {
  content: ""; /* Create a pseudo-element */
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color:#F2C078; /* Set the same background color as the .selector */
  z-index: -1; /* Place the pseudo-element behind the content */
  border-radius: 8px;
}

.selector h4 {
  margin-bottom: 10px; /* Adjust the margin as needed */
  position: relative; /* Position the text relative to the .selector */
  z-index: 1; /* Place the text above the pseudo-element */
  display: inline-block; /* Ensure the pseudo-element's color ends where the text ends */
  background-color: #F2C078; /* Set the same background color as the .selector */
  padding: 0 10px; /* Add padding to the text */
}
.select-all-checkbox {
  font-weight: bold;
}

.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}